

.jumbotron {
	padding-top: 4rem;
	padding-bottom: 1rem;
	background-color: black;
	

}

#mq {
	background-color: black;
}


#about {
	background-color:  #25292c; 
	padding-bottom: 15rem;
}



#projects {
	background-color:  #434c50; 
	padding-top: 3rem;
}
	section{
		padding-top: 5rem;
	}

#contact {
		background-color:  #344855; 
	}
		section{
			padding-bottom: 1rem;
		}
#SVG {
	section{
		padding-bottom: 1rem;
	}



#Footer {
		padding-bottom: 5rem;
		background-color:  #ffffff; 
	}
	
